# Maven
target/
*.class
*.jar
*.war

# IDE - IntelliJ
.idea/
*.iml

# IDE - Eclipse
.classpath
.project
.settings/

# Variáveis de ambiente
.env
application-local.properties

# Sistema
.DS_Store
Thumbs.db

# Arquivo misterioso
novo